Flask==2.3.2
Flask-Cors==4.0.1
Flask-SQLAlchemy==3.1.1
frozenlist==1.4.1
greenlet==3.0.3
idna==3.8
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
MarkupSafe==2.1.5
multidict==6.0.5
pathspec==0.10.1
psycopg2==2.9.9
PyJWT==2.9.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
semantic-version==2.8.5
six==1.16.0
SQLAlchemy==2.0.30
termcolor==1.1.0
typing_extensions==4.12.2
python-dotenv==1.0.1
gunicorn==23.0.0
